* {
	font-family: "Poppins", sans-serif;
}
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
